/* 
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
*/

/* .container {
    display: flex;
    justify-content: space-between;
} */
.container {
    padding-top: 15px;
    
}

.container ul {
    list-style: none;
    text-align: end;
}

.logo {
    font-weight: 900;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7CA01;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
} 

.language-select {
    display: flex;
    justify-content: space-between;
} 

.navbar a {
    color: #000;
} 

 .navbar a:hover {
    color: #fff;
    background: none;
}

.navbar a:focus {
    color: #fff;
    background: none;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.sections a {
    color: #000;
    text-decoration: none;
    text-align: end;
}

.language-item {
    text-decoration: none;
    margin-left: 20px;
}

.language-item:first {
    margin-left: 0;
}

.dropdown {
    display: flex;
    align-items: center;
    bottom: 4px;
    right: 8px;
}

.dropdown-menu {
    min-width: 0!important;
    border: 0!important;
}

.dropdown-menu li {
    width: 0;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em; 
    vertical-align: 0.255em; 
    content: ""; 
    border-top: 0.3em solid; 
    border-right: 0.3em solid transparent; 
    border-bottom: 0; 
    border-left: 0.3em solid transparent; 
} 

.btn {
    text-decoration: none!important;
}

.btn-link {
    color: #000!important;
}

.btn-link:hover {
    color: #000!important;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none!important;
}



@media screen and (min-width: 768px) {
    .dropdown {
        display: none;
    }
    .svg-search {
        display: none!important;
    }
}

@media screen and (max-width: 768px) {
    .language-select {
        display: none!important;
    }
    .sections {
        display: none!important;
    }

    
}